@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Titillium+Web:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: rgb(0, 0, 0);
    background-color: #f9f5f5;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #18dd4d;
    
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}
#menu, #logo{
    line-height: 75px;
}
#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}
/* hero image cover text*/



#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#cover-text, #cover-text h2{
    color: white;
    
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;

/* animates zoom effect on loading page */
animation-name: hero-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
from{
    transform: scale(1);
}
to{
    transform: scale(1.1);
}
}
#cover-text {
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 250px;
    padding: 15px 20px;

    background-color: rgba(28, 136, 37, 0.7);

    bottom: 200px;
    right: 200px;

    position: absolute;
}


footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }

  .social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #07a301;
}

.text {
    padding: 20px;
  }
  
  .text h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .text p{
    ont-size: 24px;
    font-weight: bold;
    text-align: center;
    color: aqua;
  }
  
  
  
  
  
#times {
    background-image: url('../images/next-games.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 2s0px;
  margin-right: 20px;
  }
  
  #times div {
    color: #fafafa;
    background-color: rgba(41, 42, 42, 0.6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
  }
  